<link rel="import"
      href="../../../bower_components/polymer/polymer.html">
<polymer-element name="annotation-layer"
                 attributes="context
                             draw
                             cursor
                             view
                             canvas
                             inputMode"
                 fit>
  <template>
    <canvas id="canvas"
            width="{{view.size.width}}"
            height="{{view.size.height}}">
    </canvas>
    <style>
      :host{
        pointer-events: none;
      }
    </style>
  </template>
  <script src="annotation-layer.js">
  </script>
</polymer-element>