<link rel="import"
      href="../bower_components/polymer/polymer.html">
<link rel="import"
      href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import"
      href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import"
      href="../bower_components/paper-fab/paper-fab.html">
<link rel="import"
      href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import"
      href="../bower_components/paper-button/paper-button.html">
<link rel="import"
      href="control-panels/fire-control/fire-control.html">
<link rel="import"
      href="control-panels/evacuation-control/evacuation-control.html">
<link rel="import"
      href="control-panels/vehicle-control/vehicle-control.html">
<link rel="import"
      href="control-panels/obj-control/obj-control.html">
<link rel="import"
      href="control-panels/main-buttons/control-buttons.html">
<link rel="import"
      href="control-panels/main-buttons/edit-buttons.html">
<link rel="import"
      href="control-panels/dialogs/settings-dialog.html">
<link rel="import"
      href="control-panels/dialogs/clear-annotation-dialog.html">
<link rel="import"
      href="control-panels/dialogs/intro-dialog.html">
<link rel="import"
      href="control-panels/dialogs/modify-parts-dialog.html">
<link rel="import"
      href="control-panels/dialogs/about-dialog.html">
<link rel="import"
      href="control-panels/dialogs/map-import-dialog.html">
<link rel="import"
      href="control-panels/dialogs/background-select-dialog.html">
<link rel="import"
      href="layers/manager/layer-manager.html">
<link rel="import"
      href="control-panels/obj-lib-panel/obj-lib-panel.html">
<link rel="import"
      href="control-panels/misc-options/misc-options.html">
<link rel="import"
      href="obj-lib/obj-lib.html">
<link rel="import"
      href="file-operations-controller/file-operations-controller.html">
<link rel="import"
      href="undo-system/undo-system.html">
<polymer-element name="app-main">
  <template>
    <undo-system id="undo"
                 canvas="{{canvas}}"
                 session="{{session}}">
    </undo-system>
    <file-operations-controller id="file"
                                newObjectTemplate="{{sessionTemplate}}"
                                saveObject="{{session}}"
                                allowedExtensions="act">
    </file-operations-controller>
    <obj-lib id="library"></obj-lib>
    <layer-manager id="lm"
                   wind="{{session.wind}}"
                   view="{{session.view}}"
                   draw="{{session.draw}}"
                   canvas="{{canvas}}"
                   isTrial="{{isTrial}}"
                   root="{{root}}"
                   inputMode="{{inputMode}}"
                   driveMode="{{session.driveMode}}"
                   interactMode="{{session.interactMode}}"
                   objects="{{session.objects}}"
                   selected="{{session.selected}}"
                   canvasContext="{{canvasContext}}"
                   on-down="{{deselect}}"
                   warn="{{session.warnZone}}"
                   leak="{{session.fuelLeak}}"
                   cursor="{{cursor}}">
    </layer-manager>
    <intro-dialog id="intro"
                  class="noprint"
                  file="{{$.file}}"
                  session="{{session}}"
                  canvas="{{canvas}}"
                  about="{{$.about}}"
                  settings="{{$.settings}}"
                  backdrop
                  autoCloseDisabled>
    </intro-dialog>
    <about-dialog id="about"
                  class="noprint">
    </about-dialog>
    <settings-dialog id="settings"
                     class="noprint"
                     view="{{session.view}}"
                     driveMode="{{session.driveMode}}"
                     file="{{$.file}}"
                     backgroundSelectDialog="{{$['background-select-dialog']}}"
                     backdrop
                     autoCloseDisabled>
    </settings-dialog>
    <background-select-dialog id="background-select-dialog"
                              class="noprint"
                              file="{{$.file}}"
                              settingsDialog="{{$['settings']}}"
                              mapImportDialog="{{$['map-import-dialog']}}"
                              view="{{session.view}}"
                              backdrop
                              autoCloseDisabled>
    </background-select-dialog>
    <map-import-dialog id="map-import-dialog"
                       class="noprint"
                       bgDialog="{{$['background-select-dialog']}}"
                       view="{{session.view}}"
                       backdrop
                       autoCloseDisabled>
    </map-import-dialog>
    <modify-parts-dialog id="modify-parts-dialog"
                         class="noprint"
                         selected="{{session.selected}}"
                         objects="{{session.objects}}"
                         view="{{session.view}}"
                         backdrop
                         autoCloseDisabled>
    </modify-parts-dialog>
    <clear-annotation-dialog id="clear-annotation-dialog"
                             class="noprint"
                             canvas="{{canvas}}"
                             z="5"
                             backdrop
                             autoCloseDisabled>
    </clear-annotation-dialog>
    <control-buttons id="cb"
                     inputMode="{{inputMode}}"
                     class="noprint"
                     file="{{$.file}}"
                     session="{{session}}"
                     canvas="{{canvas}}"
                     undo="{{$.undo}}">
    </control-buttons>
    <edit-buttons id="eb"
                  class="noprint"
                  canvas="{{canvas}}"
                  canvasContext="{{canvasContext}}"
                  library="{{library}}"
                  objects="{{session.objects}}"
                  draw="{{session.draw}}"
                  view="{{session.view}}"
                  inputMode="{{inputMode}}">
    </edit-buttons>
    <obj-control id="oc"
                 class="noprint"
                 objects="{{session.objects}}"
                 inputMode="{{inputMode}}"
                 selected="{{session.selected}}"
                 view="{{session.view}}"
                 panels="{{session.panels}}">
    </obj-control>
    <fire-control id="fc"
                  class="noprint"
                  objects="{{session.objects}}"
                  inputMode="{{inputMode}}"
                  selected="{{session.selected}}"
                  view="{{session.view}}"
                  panels="{{session.panels}}"
                  interactMode="{{session.interactMode}}">
    </fire-control>
    <evacuation-control id="ec"
                        class="noprint"
                        objects="{{session.objects}}"
                        inputMode="{{inputMode}}"
                        selected="{{session.selected}}"
                        view="{{session.view}}"
                        panels="{{session.panels}}"
                        interactMode="{{session.interactMode}}">
    </evacuation-control>
    <vehicle-control id="vc"
                     class="noprint"
                     objects="{{session.objects}}"
                     selected="{{session.selected}}"
                     view="{{session.view}}"
                     panels="{{session.panels}}">
    </vehicle-control>
    <obj-lib-panel library="{{library}}"
                   class="noprint"
                   view="{{session.view}}"
                   selected="{{session.selected}}"
                   objects="{{session.objects}}"
                   inputMode="{{inputMode}}"
                   interactMode="{{session.interactMode}}"
                   panels="{{session.panels}}">
    </obj-lib-panel>
    <misc-options session="{{session}}"
                  class="noprint"
                  panels="{{session.panels}}"
                  interactMode="{{session.interactMode}}">
    </misc-options>
    <paper-action-dialog id="mask-warn" backdrop>
      <p>Mask Objects do not fully support SVG background images.<br>The masked area will look fuzzy when zoomed in.<br>It is recommended that you use JPEG or PNG images when using masks.</p>
      <paper-button affirmative>ok</paper-button>
    </paper-action-dialog>
    <style>
      :host{
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
      }
      #lm{
        transform-origin: 0 0;
      }
      @media print{
        .noprint{
          display: none;
        }
      }
    </style>
  </template>
  <script src="app-main.js"></script>
</polymer-element>